<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rental_mobil">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".OCRActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Customer.PdfActivity"
            android:screenOrientation="portrait"
            android:label="Preview Pdf"
            />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.CustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.CustomerDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.DriverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.DriverDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Admin.Car.CarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.DriverEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.DriverAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Admin.Car.CarAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Admin.Car.CarEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.RentalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.RentalBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.RentalDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.RentalWorkingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.RentalHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.ReportActivity"
            android:screenOrientation="portrait" /> <!-- Pelanggan -->
        <activity
            android:name=".Customer.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.BookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.BookingKonfirmasiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer.CarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Customer.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Customer.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Customer.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Customer.ProfileEditActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>